.filter-option {
    padding: 0;
    margin-right: 35px;
    height: 40px;
    font-family: 'Source Sans Pro';
    font-size: 18px;
    color: #ffffff;
    background-color: #232323;
    text-transform: uppercase;
}

.filter-active {
    border-bottom: 3px solid #fff;
}

.dropdown-label {
    margin-right: 20px;
    color: #555555;
}

@media screen and (max-width: 704px) {
    .filter-container {
        display: none
    }
}