.overview-container {
    width: 100vw;
    display: flex;
    flex-direction: column;
    background-color: #232323;
}

/* .overview-container::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    z-index: -1;

    display: block;
    background-image: url('../../../public/netflix-background.jpg');
    background-size: cover;
    width: 100vw;
    height: 100%;

    -webkit-filter: blur(3px);
    -moz-filter: blur(3px);
    -o-filter: blur(3px);
    -ms-filter: blur(3px);
    filter: blur(3px) brightness(0.2);
} */

.logo-and-back-button-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 60px;
    margin-right: 60px;
}

.movie-details-container {
    display: flex;
    flex-direction: row;
    margin-bottom: 80px;
    margin-left: 60px;
    margin-right: 60px;
}

.search-icon {
    font-size: 36px;
    color: #f65261;
}

.movie-image-overview {
    display: flex;
    height: 400px;
}

.overview-text-container {
    margin-left: 60px;
    margin-right: 60px;
    width: 100%;
}

.name-and-rating-container {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    line-height: 1;
}

.overview-title {
    font-size: 48px;
    color: #ffffff;
}

.overview-rating {
    font-size: 48px;
    color: #bdf84e;
    margin-left: 30px;
    border-radius: 10px;
    border: solid 1px;
    padding-left: 10px;
    padding-right: 10px;
    height: 55px;
}

.overview-tagline,
.overview-text {
    color: #ffffff;
}

.year-and-duration-container {
    display: flex;
    flex-direction: row;
    font-size: 28px;
    color: #f65261;
    margin-top: 5px;
    margin-bottom: 5px;
}

.overview-year {
    margin-right: 10px;
}

@media screen and (max-width: 929px) {
    .movie-image-overview {
        display: none;
    }

    .overview-text-container {
        margin-left: 0;
        margin-right: 0;
        /* width: 100%; */
    }

    .movie-details-container {
        display: flex;
        flex-direction: column;
        margin-bottom: 80px;
        margin-left: 60px;
        margin-right: 60px;
    }
}