.header-container {
    width: 100vw;
    display: flex;
    flex-direction: row;
    height: 100px;
    justify-content: space-between;
    align-items: center;
}

.header-container::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    z-index: -1;

    display: block;
    background-image: url('../../../public/netflix-background.jpg');
    background-size: cover;
    width: 100vw;
    height: 100%;

    -webkit-filter: blur(3px);
    -moz-filter: blur(3px);
    -o-filter: blur(3px);
    -ms-filter: blur(3px);
    filter: blur(3px) brightness(0.5);
}

.logo-container {
    margin-left: 20px;
}

.search-input {
    width: 50%;
    min-width: 250px;
    height: 40px;
    border-radius: 3px;
    border: solid 1px #d9dbe3;
    background-color: #ffffff;
    padding-left: 10px;
    font-family: 'Source Sans Pro';
    font-size: 18px;
}

.search-button {
    width: 150px;
    height: 40px;
    border-radius: 5px;
    font-family: 'Source Sans Pro';
    font-size: 18px;
    color: #ffffff;
    background-color: #f65261;
}

.reset-search-button {
    width: 150px;
    height: 40px;
    border-radius: 5px;
    font-family: 'Source Sans Pro';
    font-size: 18px;
    background-color: #ffffff;
    color: #f65261;
}

.add-button {
    padding: 0;
    width: 150px;
    height: 40px;
    border-radius: 5px;
    font-family: 'Source Sans Pro';
    font-size: 18px;
    color: #f65261;
    background-color: #555555;
    margin-right: 30px;
}